.footer {
  margin: 58px 200px 0 200px;
  max-width: 880px;
  width: 100%;
}

.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #545454;
  margin: 0 0 60px 0;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .footer {
    width: 282px;
    margin: 0px 19px 0px 19px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 36px 0;
  }
}
