.header {
  margin: 0 200px 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 880px;
}

.header__logo {
  width: 173px;
  margin: 45px 707px 41px 0;
}

.header__line {
  border: 1px solid #545454;
  margin: 0 200px 0 200px;
  width: 880px;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    margin: 0;
  }

  .header__logo {
    width: 126px;
    margin: 28px 167px 32px 27px;
  }

  .header__line {
    max-width: 320px;
    margin: 0;
  }
}
