.profile {
  display: flex;
  width: 880px;
  margin: 0 200px 0 200px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 40px 30px 50px 0;
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  width: 415px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  width: 373px;
}

.profile__name {
  color: #ffffff;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 62px 10px 16px 0;
  width: 373px;
}

.profile__about {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  margin: 0 0 71px 0;
}

.profile__button {
  display: flex;
  justify-content: center;
  height: 10px;
  background-color: #000;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  padding: 7px 7px 7px 7px;
  margin: 77px 0 16px 10px;
}

.profile__button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.profile__addbutton {
  background-color: #000;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  padding: 14px 64px 14px 64px;
  margin: 75px 0 85px 165px;
}

.profile__addbutton:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 500px) {
  .profile {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    max-width: 282px;
    margin: 42px 19px 36px 19px;
  }

  .profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 100px 30px 100px;
  }

  .profile__info {
    justify-content: center;
    align-content: center;
    width: 282px;
    margin: 0 0 0 19px;
    flex-wrap: nowrap;
  }

  .profile__name {
    margin: 0 0 14px 0;
    padding: 0 10px 0 48px;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    width: 196px;
  }

  .profile__about {
    margin: 0 0 36px 19px;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
  }

  .profile__button {
    margin: 0;
  }

  .profile__addbutton {
    margin: 0 0 0px 19px;
    width: 282px;
  }

  .profile__text {
    justify-content: center;
    width: 282px;
  }
}
